litellm
tiktoken
crewai
crewai-tools
streamlit
groq
langchain
langchain-community
langchain-google-genai
gTTS
deep-translator
fpdf
python-dotenv
duckduckgo-search
pydantic
plotly
matplotlib
seaborn
langdetect
reportlab
beautifulsoup4
SpeechRecognition
pydub
youtube-transcript-api
yt-dlp
SQLAlchemy
Markdown